/* Configure Top Menu */
.topnav{
  background-color: #999;
  overflow: hidden;
  position: sticky;
}
.topnav a {
  float: left;
  background-color: #b3d4fc;
  color: #222;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;
}
.topnav a:hover {
  background-color: #fcdbb3;
  color: black;
}
.topnav a.active {
  background-color: #b3fcdb;
}
  
/* Configure Mobile Menu */
.mobnav {
  background-color: #999;
  overflow: hidden;
}
.mobnav a {
  float: left;
  background-color: #b3d4fc;
  color: #222;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;
}
.mobnav a:hover {
  background-color: #fcdbb3;
  color: black;
}
.mobnav a.active {
  background-color: #b3fcdb;
}  
.mobnav {  
  visibility: hidden;
  bottom: 0;
  left: 0;
  position: sticky;
}

/*center main title*/
.title {
  text-align: center;
}

/* Dark mode */
@media (prefers-color-scheme: dark){
  p {
    color: white;
  }
  h1 {
    color: white;
  }  
  body {
    background-color: black;
  }
}

/* Light Mode */
@media (prefers-color-scheme: light){
  p {
    color: black;
  }
  h1 {
    color: black;
  }  
  body {
    background-color: white;
  }
}
// Show and Hide Mobile
@media only screen and (hover: none) and (pointer: coarse)){
  .mobnav {
    visibility: visible;
  }
  .topnav {
    visibility: hidden;
  }
}

.softdrop2 {
  display: none;
  overflow: auto;
}

.softdrop:hover .softdrop2 {
  display: block;
}